<div class="hero">
  <nav>
    <h2 class="logo">John</h2>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Posts</a></li>
      <li><a href="#">Add Post</a></li>
    </ul>
    <div class="btn">
      <button type="button">Login</button>
      <button type="button">Register</button>
    </div>
  </nav>
</div>
