<%- include('../partials/header.ejs'); %>
  
</ul>
<div class="main">
  <div class="main-container blog-posts">
    <div class="post">
      <div class="post-image"></div>
      <div class="post-content">
        <div class="post-date">Posted on Jun 24, 2020</div>
        <div class="post-title"><h4>Why I love Javascript</h4></div>
        <div class="post-text">
          I know, I know. Naysayers will tell you that if you love Javascript,
          you are a person with a bad taste. And that you're not one the true
          programmers. But I really love this language. There is some cool
          things and tricks in Javascript that I find very interesting and
          useful. Maybe, I am a person with a bad taste. Maybe. But that's not
          the question right now.
        </div>
      </div>
    </div>
  </div>
</div>


<%- include('../partials/footer.ejs'); %>