<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style/Home.css" />
  </head>
  <body>
    <nav>
      <h1><a href="/">Youssef Blog</a></h1>
    </nav>
    <header>
      <div class="smoothie">
        <img src="/smoothie.png" alt="" />
      </div>
      <div class="headings">
        <h2>Blog</h2>
        <h3>By Oserhir Youssef</h3>
        <a href="/All-Posts" class="btn">View Blogs</a>
      </div>
    </header>
  </body>
</html>
